@charset 'utf-8';
// @import "./../../css/var";

// #category_container,
// #gallery_container,
// #detail_container {
// 	visibility: hidden;
// }

// #Stats-output{
#background_container {
	position: absolute;
	left: 0;
	top: -56px;
	width: 100%;
	height: auto;
	text-align: left;
	font-size: 3px;
	color: rgba(200, 200, 200, 0.98);
	padding: 24px 0 32px;
}

#startup_container.show {
	width: 100%;
	height: 100%;
	z-index: 2;
	visibility: visible;
}

#startup_stage,
#startup_content_container {
	position: relative;
	width: 100%;
	height: 100%;
}

#startup_selections_container {
	width: 100%;
	color: #fff;

	.startup_message {
		position: absolute;
		left: 0;
		top: 56px;
		width: 100%;
		height: auto;
		text-align: center;
		line-height: 1.5;
		font-size: 13px;
	}

	.startup_selection_wrap {
		position: absolute;
		left: 50%;
		top: 120px;
		width: 880px;
		display: flex;
		justify-content: space-between;
		margin-left: -420px;

		.startup_selection_container {
			width: 420px;
			text-align: center;
			font-size: 16px;
			background: rgba(33, 33, 33, 0.98);
			padding: 24px 0 32px;
			h2 {
				font-size: 20px;
				font-weight: bold;
				margin: 0;
				padding: 0;
			}
			.svg_icon {
				width: 88px;
				height: auto;
			}
			.start_up_section_read {
				font-size: 16px;
				margin-bottom: 24px;
			}
			.start_up_section_cap {
				font-size: 14px;
				margin-bottom: 8px;
			}
			ul {
				li {
					.session_contents_list {
						font-size: 18px;
						font-weight: bold;
						margin-bottom: 12px;
					}
					.session_contents_caption {
						font-size: 14px;
					}
				}
			}

			//QR
			.qr_wrap {
				margin: 24px 0;
				svg#qr-code {
					margin-bottom: 16px;
				}
				.session_start_url {
					font-size: 14px;
					font-weight: bold;
					margin-bottom: 16px;
					a {
						color: #fff;
						&:hover {
							opacity: 0.5;
						}
					}
				}
			}

			.vr_btn_wrap {
				display: none;
				.vr_btn {
					background-color: #4d4d4d;
					width: 230px;
					margin: 0 auto 16px;
					padding: 20px 0 20px;
					display: flex;
					justify-content: center;
					transition: all 0.5s ease;
					cursor: pointer;
					.btn_arrow {
						margin-right: 8px;
					}
					.start_label {
						color: #fff;
						font-family: neue-haas-unica, sans-serif;
						font-weight: 200;
						font-style: normal;
						font-size: 40px;
					}
				}
			}

			.vr_read {
				.caption1 {
					font-size: 12px;
					line-height: 1.5;
					padding: 0 32px;
					margin-bottom: 16px;
				}
				.caption2 {
					font-size: 12px;
					line-height: 1.5;
					padding: 0 32px;
					a {
						color: #fff;
						&:hover {
							opacity: 0.5;
						}
					}
				}
			}

			.normal_btn {
				display: block;
				background-color: #4d4d4d;
				width: 230px;
				margin: 20px auto 16px;
				padding: 20px 0 20px;
				display: flex;
				justify-content: center;
				transition: all 0.5s ease;
				cursor: pointer;
				.btn_arrow {
					margin-right: 8px;
				}
				.start_label {
					color: #fff;
					font-family: neue-haas-unica, sans-serif;
					font-weight: 200;
					font-style: normal;
					font-size: 40px;
				}

				&:hover {
					opacity: 0.5;
				}
			}

			.normal_caption {
				font-size: 13px;
				line-height: 1.6;
				padding: 0 56px;
			}
		}
	}
}

// 		#startup_vrmode_container {
// 			// background-color: #433;
// 			// cursor: pointer;
// 		}

// 		#startup_normalmode_container {
// 			// background-color: #334;
// 			// cursor: pointer;
// 		}

// Tablet SP
@media (max-width: 768px) {
	body {
		overflow: visible;
	}

	#startup_container.show {
		position: relative;
	}
	#startup_container {
		#startup_stage {
			#startup_content_container {
				#startup_selections_container {
					.startup_message {
						position: absolute;
						left: 0;
						top: 56px;
						width: 100%;
						line-height: 1.4;
						font-size: 12px;
						padding: 0 16px;
						em {
							font-weight: bold;
						}
					}
					.startup_selection_wrap {
						position: absolute;
						left: 0;
						top: 120px;
						margin: 0;
						width: 100%;
						padding: 0 16px;
						.startup_selection_container {
							width: 49%;
							padding: 16px 16px;
							text-align: center;
							font-size: 12px;
							margin-bottom: 16px;
							h2 {
								font-size: 16px;
								font-weight: bold;
								margin: 0;
								padding: 0;
							}
							.svg_icon {
								width: 64px;
								height: auto;
							}
							.start_up_section_read {
								font-size: 12px;
								margin-bottom: 16px;
							}
							.start_up_section_cap {
								font-size: 12px;
								margin-bottom: 12px;
							}
							ul {
								li {
									.session_contents_list {
										font-size: 12px;
										margin-bottom: 4px;
									}
									.session_contents_caption {
										font-size: 12px;
									}
								}
							}
							.qr_wrap {
								display: none;
								svg#qr-code {
									margin-bottom: 16px;
								}
								.session_start_url {
									font-size: 14px;
									margin-bottom: 16px;
									display: none;
								}
							}
							.vr_btn_wrap {
								display: block;
								padding: 20px 0 20px;
								.vr_btn {
									width: 100%;
									margin: 0 auto 0px;
									padding: 12px 0 12px;
									display: flex;
									align-items: center;
									.btn_arrow {
										margin-right: 8px;
										width: 12px;
										height: auto;
									}
									.start_label {
										font-size: 24px;
									}
								}
							}

							.vr_read {
								.caption1 {
									display: none;
								}
								.caption2 {
									font-size: 11px;
									line-height: 1.4;
									padding: 0 0;
								}
							}
							.normal_btn {
								width: 100%;
								margin: 20px auto 8px;
								padding: 12px 0 12px;
								display: flex;
								align-items: center;
								.btn_arrow {
									margin-right: 8px;
									width: 12px;
									height: auto;
								}
								.start_label {
									font-size: 24px;
								}
							}
							.normal_caption {
								font-size: 12px;
								padding: 0 32px;
							}
						}
					}
				}
			}
		}
	}
}
