/*
-----------------------------------------------
	Common
	-----------------------------------------------
*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: $black;
  overflow: hidden;
}

div,
section,
nav,
article {
  box-sizing: border-box;
}

#content_container {
	position: fixed;
  width: 100%;
	height: 100%;
}

.common_container {
	position: fixed;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}