/*
-----------------------------------------------
	Detail
	-----------------------------------------------
*/

#detail_container {
  z-index: 20;
  visibility: hidden;
}

#blocker {
  position: absolute;
}
