/*
-----------------------------------------------
	Detail
	-----------------------------------------------
*/


#detail_container {
  z-index: 20;
  visibility: hidden;
  position: relative;
  background-color: rgba(0,0,0,0.8);
}

#frame_container {
  position: absolute;
  z-index: 100;
  top: 0;
  right: -800px;
  transition: all 0.6s;
}

#frame_container.fade-in {
  right: 0;
}

#detail_iframe {
  width: 800px;
  height: 100vh;
  border: none;
}

#close {
  position: absolute;
  width: 33px;
  top: 40px;
  right: 40px;
  z-index: 200;
  cursor: pointer;
  color: white;
}

#close.no_show {
  display: none;
}

#close:hover,
#close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #detail_iframe {
    width: 100vw;
  }

  .contents img {
    width: 100vw;
    padding: 20px;
  }

  #detail_iframe .contents .kiji .pdf_image img {
    width: 20px;
  }

  #close {
    position: absolute;
    width: 24px;
    top: 20px;
    right: 20px;
    z-index: 200;
    cursor: pointer;
    color: white;
  }
}
