/*
-----------------------------------------------
	XR Mode styles
	-----------------------------------------------
*/

@charset 'utf-8';
// @import "var";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Helvetica Neue",
	Arial,
	"Hiragino Kaku Gothic ProN",
	"Hiragino Sans",
	Meiryo,
	sans-serif;
	background-color: #000;
}

#xr_mode
{
	.common_container {
		width: auto;

		&.show {
			visibility: visible;
		}
	}

	.common_screen_shade {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: #000;
	}

	#content_container {
		position: fixed;
	}

	#hud_container {
		z-index: 100;
		visibility: visible;
	}

	#background_container {
		z-index: 100;
	}

	#startup_container {
		z-index: 5;
	}

	#entrance_container {
		z-index: 10;
	}

	#category_container {
		z-index: 20;
	}
	#category_stage {
		position: relative;
	}

	#gallery_container {
		z-index: 30;
		&.show {
			visibility: visible;
		}
	}

	#detail_container {
		z-index: 40;
	}

	#background_container,
	#category_container,
	#gallery_container,
	#detail_container {
		visibility: visible;
	}

	#entrance_container,
	#startup_container {
		visibility: hidden;
	}

	#posetersession_logo {
		top: 90px;
		left: 90px;
		transform: scale(0.5, 0.5);
	}
	// #xr_scene {
	// 	z-index: 200;
	// }

	/*
		Entrance
	*/

	#entrance_container {
		width: 100%;
	}

	.entrance_content_container {
		width: 100%;
		height: 100%;
		background-color: red;
	}

	/*
		HUD
	*/

	#hud_container {
		z-index: 250;
	}

	.hud_ui {
		position: absolute;
		top: 300px;
		width: 520px;
		height: 140px;
		display: flex;
		align-items: center;
		justify-content: center;
		color:#fff;
		font-size: 40px;
		font-weight: bold;
		background-color: rgba(200, 200, 200, 0.8);
		box-sizing: border-box;
	}

	/*
		Poster
	*/
	.gallery_poster_title {
		position: absolute;
		top: 2rem;
		width: 14.5em;
		height: 7em;
		font-size: 36px;
		line-height: 1.4;
		color:#fff;
		font-weight: bold;
		background-color: rgba(0, 0, 0, 1);
		padding: 1em 0.5em 0;
		box-sizing: border-box;
		user-select: none;
	}

	/*
		Category
	*/
	.category_content_container {
		position: absolute;
		width: 512px;
		height: 512px;
		padding: 7rem 0.5em 0;
		font-size: 36px;
		line-height: 1.4;
		text-align: center;
		color:#fff;
		font-weight: bold;
		background-color: rgba(200, 200, 200, 0.8);
		box-sizing: border-box;
		user-select: none;
	}

	.category_a {
		background: $colorA;
		// background: rgba(150, 41, 204, 0.6);
	}
	.category_b {
		background: $colorB;
		// background: rgba(41, 95, 204, 0.6);
	}
	.category_c {
		background: $colorC;
		// background: rgba(36, 179, 83, 0.6);
	}
	.category_d {
		background: $colorD;
		// background: rgba(46, 199, 230, 0.6);
	}
	.category_e {
		background: $colorE;
		// background: rgba(41, 204, 190, 0.6);
	}
	.category_f {
		background: $colorF;
		// background: rgba(68, 41, 204, 0.6);
	}
	.category_s {
		background: $colorS;
		// background: rgba(204, 41, 149, 0.6);
	}

	.category_id {
		font-size: 48px;
		line-height: 1;
		margin-bottom: 20px;
	}

	.category_title
	{
		&.english {
			font-size: 40px;
			line-height: 1.24;
		}
		&.japanese {
			position: absolute;
			top: 300px;
			width: 92%;
			text-align: center;
			font-weight: normal;
			font-size: 24px;
		}
	}

	.category_copy {
		position: absolute;
		top: 348px;
		width: 92%;
		text-align: center;
	font-size: 32px;
	}


	/*
	 Detail
	*/

	#detail_container {
		font-size: 2rem;
	}

	.detail_content_container {
		position: fixed;
		top: 0;
		width: 512px;
		height: 512px;
		// height: calc(512px * 0.5625);
		padding: 0 2em;
		font-size: 24px;
		line-height: 1.4;
		text-align: left;
		color:#000;
		font-weight: normal;
		background-color: rgba(255, 255, 255, 1);
		box-sizing: border-box;
		user-select: none;

		&.summary {
			padding: 2rem 2rem 2rem;
		}
	}

	.detail_content_container_inner {
		position: relative;
		width: 100%;
		height: 100%;
		top: 0.5rem;
		overflow: hidden;
	}

	.detail_header_container {
		position: relative;
		display: flex;
		margin-bottom: 1.5rem;
	}
	.slug {
		position: relative;
		width: 20%;
		line-height: 1;
		font-size: 1.5em;
		font-weight: bold;
		padding: 0rem 0 0 0;
	}
	.detail_header_label_container {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
	}
	.category_jp {
		width: 100%;
		font-size: 0.53em;
		font-weight: bold;
		padding-top: 0.1rem;
	}
	.category_en {
		width: 100%;
		font-size: 0.40em;
		padding-bottom: 0.1rem;
	}

	.detail_theme_container {
		position: relative;
		margin-bottom: 1.5rem;
	}
	.theme_jp {
		font-size: 0.6em;
		font-weight: bold;
	}
	.theme_en {
		font-size: 0.4em;
		margin-bottom: 1rem;
		line-height: 1.1;
	}

	.detail_title_container {
		position: relative;
		margin-bottom: 1.2em;
	}
	.title_jp {
		font-size: 0.85em;
		font-weight: bold;
		line-height: 1.2;
		margin-bottom: 0.1rem
	}
	.title_en {
		font-size: 0.5em;
		margin-bottom: 0.1rem;
	}

	.detail_author_container {
		position: relative;
		text-align: right;
		font-size: 0.6em;
	}
	.leader_name_jp,
	.research_field_jp,
	.group_members_jp {
		font-weight: bold;
		font-size: 1em;
		line-height: 1.2;
	}
	.leader_name_en,
	.research_field_en,
	.group_members_en {
		font-size: 0.7em;
		line-height: 1.2;
		margin-bottom: 0.5rem;
	}

	.detail_summary_container {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		font-size: 0.7em;
		line-height: 1.7;
	}
	.summary {
		font-size: 0.9em;
		word-break: initial;
		overflow-wrap: initial;
	}

	.summary_jp {
		font-size: 1em;
		margin-bottom: 1rem;
	}
	.summary_en {
		font-size: 0.7em;
	}
	.detail_summary_container.split
	{
		.summary_jp {
			margin-bottom: 0;
		}
		.summary_en {
			line-height: 1.6;
			font-size: 0.85em;
		}
	}
}
